&adc {
    status = "okay";
};

analog_input_0: analog_input_0 {
    compatible = "zmk,analog-input";
    sampling-hz = <100>;

    x-axis {
        io-channels = <&adc 2>;
    };

    y-axis {
        io-channels = <&adc 3>;
    };
};